# node_modules
node_modules/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# .env
.env
.env.local
.env.*.local

# output de builds 
dist/
build/
.next/
out/

# Si usas TypeScript:
*.tsbuildinfo

# Coverage de tests
coverage/

# IDEs
.vscode/
.idea/
*.swp
